<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>jpa-2.2</feature>
        <feature>ejb-3.2</feature>
    </featureManager>

    <applicationManager autoExpand="true" />

    <mpMetrics authentication="false" />

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />
    <variable name="app.context.root" defaultValue="/" />
    <variable name="app.dabase.serverName" defaultValue="db" />
    <variable name="app.dabase.portNumber" defaultValue="3306" />
    <variable name="app.dabase.user" defaultValue="tpack" />
    <variable name="app.dabase.password" defaultValue="tpack" />
    <variable name="app.dabase.databaseName" defaultValue="tpack" />

    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <webApplication location="${project.name}.war" contextRoot="${app.context.root}" />

    <library id="MySQLLib" name="MySQL Connector">
        <fileset dir="${server.config.dir}/resources" id="mysql-connector-jar" includes="mysql-*.jar" />
    </library>

    <!-- Declare the Worklight Server project database -->
    <dataSource jndiName="jdbc/TpackDS">
        <jdbcDriver libraryRef="MySQLLib" />
        <!-- Dev mode use: serverName="localhost" -->
        <properties serverName="${app.dabase.serverName}" portNumber="${app.dabase.portNumber}" user="${app.dabase.user}" password="${app.dabase.password}" databaseName="${app.dabase.databaseName}" />
    </dataSource>

    <!-- Basic user register -->
    <basicRegistry id="basic" realm="WebRealm">
        <user name="tpack" password="tpack" />
    </basicRegistry>

</server>