<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>production</id>
            <properties>
                <replace.host>35.199.66.38</replace.host>
                <replace.port>80</replace.port>
                <replace.api>tpack/service/api/</replace.api>
                <replace.db>db</replace.db>
            </properties>
        </profile>
        <profile>
            <id>development</id>
            <properties>
                <replace.host>localhost</replace.host>
                <replace.port>9080</replace.port>
                <replace.api>service/api/</replace.api>
                <replace.db>db</replace.db>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>development</activeProfile>
    </activeProfiles>
</settings>
